
<mat-toolbar class="mat-elevation-z6" color="primary">
  <div class="user-bar" *ngIf="afAuth.authState | async as user; else showLogin">
    <span class="login-message">Hello {{ user.displayName }}</span>
    <button class="login-button" mat-button (click)="logout()">Logout</button>
  </div>
  <ng-template class="user-bar" #showLogin>
    <span class="login-message">Please login</span>
    <button class="login-button" mat-button (click)="login()">Login with Google</button>
  </ng-template>
</mat-toolbar>

<div class="work-area">
  <div *ngIf="afAuth.authState | async as user; else showLogin">

    <app-recipe-editor [user]="user"></app-recipe-editor>

<!--     <input type="text" [(ngModel)]="title" name="title" placeholder="Title..">
    <textarea [(ngModel)]="content" name="content" placeholder="Content.."></textarea>
    <input type="submit" value="Add a Post" (click)="addPost()">
     -->
    <!-- <ul *ngFor="let post of posts | async">
      <li>
        <strong>{{ post.title}}</strong>
        <br>
        {{post.content}}
      </li>
    </ul> -->
    
<!--     <ul *ngFor="let post of posts | async">
      <li (click)="getPost(post.id)">
        <strong>{{ post.data.title}}</strong> (<a href="#" (click)="deletePost(post.id)">delete</a>)
        <br>
        {{post.data.content}}
      </li>
    </ul>
    
    <h1>A specific post:</h1>
    
      <h3>{{ (post | async)?.title }}</h3>
      <p>{{ (post | async)?.content }}</p>
  
  </div> -->
  
</div>





  